# Binary
socks5-proxy
socks5-enterprise
tunnel

#Keep
!data/.gitkeep

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
#DB
*.db
*.db-*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
